@import url('singolo_fonts.css');

.page {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    font-family: "Lato";
    background-color: #f2f2f2;
}

.page__header {
    display: flex;
    flex-grow: 0;
    min-height: 89px;
    align-items: center;
    background-color: #2d303a;
    border-bottom: #323746 solid 6px;
    padding: 0 40px;
}

.header__logo {
    font-size: 25px;
    line-height: 6px;
    font-weight: 700;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.header__logo::after {
    content: '*';
    color: #f06c64;
}

.header__nav {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header__menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu__item {
    font-size: 12px;
    line-height: 6px;
    font-weight: 700;
    text-align: left;
    display: inline-block;
}

.menu__item:after {
    content: " \00b7";
    padding: 0 15px;
    color: #494e62;
}

.menu__item:last-child:after {
    content: none;
}

.menu__link {
    text-align: left;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.menu__link:hover, .menu__item_active .menu__link {
    color: #f06c64;
}

.page__content {
    flex-grow: 1;
    overflow: auto;
}

.content__head {
    margin-bottom: 66px;
}

.content__body {
    padding: 0 40px;
    border-bottom: #ffffff solid 6px;
}

.slider {
    position: relative;
    overflow: hidden;
    min-height: 594px;
    background-color: #f06c64;
    border-bottom: #ea676b solid 6px;
}

.slider__items {
    display: flex;
    padding: 55px 75px;
}

.slider__item {
    display: flex;
    align-items: center;
    margin: auto;
}

.slider__control {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    top: 50%;
    margin: -11px;
}

.slider__control:before {
    content: '';
    width: 16px;
    height: 16px;
    border-bottom: 6px solid #ca4549;
    border-left: 6px solid #ca4549;
}

.slider__control:hover:before {
    border-color: #f2f2f2;
}

.slider__control_prev {
    left: 57px;
    transform: rotate(45deg);
}

.slider__control_next {
    right: 57px;
    transform: rotate(-135deg);
}

.list__title {
    margin-bottom: 33px;
    text-align: left;
    color: #666d89;
    font-size: 30px;
    line-height: 18px;
    font-weight: 900;
}

.list__text {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    text-align: left;
}

.list__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
    margin-top: 50px;
}

.list-item {
    display: flex;
    width: 32%;
    margin-bottom: 36px;
}

.list-item:nth-child(3n+2) {
    margin-right: 15px;
    margin-left: 15px;
}

.list-item__icon {
    width: 59px;
    height: 59px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item__icon_circle {
    border-radius: 29px;
    border: 2px solid #666d89;
}

.list-item__content {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 10px;
}

.list-item__title {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
    margin-bottom: 15px;
}

.list-item__text {
    width: 219px;
    height: 128px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    text-align: left;
}

.page__footer {
    border-bottom: #ffffff solid 6px;
}